*,*::before,*::after{
    box-sizing: border-box;
}
body{
    margin:0;
}
#container-topics {
  background-color: rgb(56, 0, 60);
  height: 100vh;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
}
.container-topic-list {
  border: none;
  width: 100%;
  height: 100vh;
}
.div-topics-list {
  width: 100%;
  border: none;
  height: 100vh;
  overflow: auto;
}
.div-topics-list-inside {
  background-color: rgb(56, 0, 60);
  border: none;
  height: 100%;
}

/*new**/
.ul-topics-list-inside {
  display: flex;
  flex-direction: column;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card-topics {
  flex-basis: 100%;
  border-radius: 2rem;
  border: none;
  margin-top: 2rem;
}

.topic {
  display: flex;
  background-color: none;
  border-radius: 2rem;
  height: 100%;
}
.topic-image {
  background-image: url('../media/robotics.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  border-radius: 2rem;
  height: 100%;
  width: 100%;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
}
.topic-shade {
  height: 100%;
  background-color: rgba(56, 0, 60,0.3);
  width: 100%;
  border-radius: 2rem;
}
.topic-snap {
  width: 100%;
  height: 100%;
  color: red;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding: 1rem 1rem;
}
.topic-heading {
  font-size: 1rem;
  color:rgb(0, 255, 133);
}
.topic-subheading {
  font-size: 1rem;
  color:#f3f3f3;
}
.topic-brief {
  color: #f3f3f3;
}
.topic-search {
  width: 100%;
  text-align: center;
  padding: 2rem 0rem;
}

.container-left-gap {
  height: 100vh;
  width: 5rem;
  display: none;
}

@media only screen and (min-width:768px){
#container-topics{
    background-color: rgb(56,0,60);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 5rem;
    overflow: auto;
}
.container-left-gap{
    height: 100vh;
    width: 10rem;
}
.container-topic-list{
    border:none;
    width: 100%;
    height: 100vh;
    overflow: auto;
}
.div-topics-list{
    width: 100%;
    border:none;
    height: 100%;
}
.div-topics-list-inside{
    background-color: rgb(56,0,60);
    height: 100%;
    width: 100%;
    padding:1rem 0.5rem;
}
#test{
  background-color:rgba(255, 136, 0, 1);
  background-color: rgb(233, 0, 82);
  width: 5rem;
  height: 1.5rem;
  border-radius:0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border:none;
  color:#eeccff;
}
.ul-topics-list-inside{
display: flex;
flex-direction: row;
height: 100%;
padding:0;
flex-wrap: wrap;
justify-content: space-between;
list-style: none;
margin-bottom: 2rem;
}
.card-topics {
  flex-basis: 20%;
  border-radius: 2rem;
  border: 1px solid rgb(56, 0, 60);
  margin-left: 1rem;
}

.topic{
  display: flex;
  background-color:none;
  border-radius: 2rem;
  height: 100%;
}
.topic-image{
background-image: url("../media/robotics.jpg");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
object-fit: contain;
left: 0;
bottom: 0;
right: 0;
top: 0;
border-radius: 2rem;
height: 100%;
width: 100%;
border-top-right-radius:2rem;
border-top-left-radius: 2rem;
}
.topic-shade{
  height: 100%;
  background-color:rgba(0, 0, 0,0.6);
  width:100%;
  border-radius: 2rem;
}
.topic-snap{
width: 100%;
height: 100%;
border-bottom-left-radius: 2rem;
border-bottom-right-radius: 2rem;
padding: 2rem 1rem;
}

.topic-heading{
  font-size: 1rem;
  color:rgb(0, 255, 133);
}
.topic-subheading{
  font-size: 1rem;
  color:#f3f3f3;
}
.topic-brief{
  color:#f3f3f3;
}
.topic-search{
width: 100%;
text-align: center;
padding: 2rem 0rem;
}
}
/*@media only screen and (max-width:640px){
#card-topics{
    margin-bottom: 4rem;
}
}**/
