.signin__section{
    background-color:rgb(56, 0, 60);
    min-height:100vh;
    overflow: auto;
    
  
}
body{
    margin: 0;
}
.container{
    height: 100%;
    
    text-align: center;
}
form{
    text-align: left;
}
.form-group{
    margin-bottom: 1rem;
}

.button{
    width: 100%;
    height:2rem;
    margin-top: 0.2rem;
    border:1px groove rgb(0, 255, 133);
    border-radius: 0.2rem;
    background-color: rgb(0, 255, 133);

}
label{
    color:white;
}

.signin-opts{
display: flex;
flex-direction: row;
width:100%;
}
.signin-opt{
    color: #f3f3f3;

flex:1;
  
    border-radius: 1rem;
    height:3rem;
  background-color: rgb(56, 0, 60);
box-shadow: 0px 0px 7px 1.5px rgb(67, 5, 73);
background-image: url('../media/5a35540277d9e6.8445514415134443544909.png');
background-position: center;
background-size: contain;
background-repeat: no-repeat;
/* You must set a specified height*/
max-width: 100%;
object-fit: contain;
padding: 0px 0px;
top: 0;
bottom: 0;
right: 0;
left: 0;


}
.signin-opt-middle{
    color:#f3f3f3;
    flex: 1;
border-radius: 1rem;
height: 3rem;
background-color: rgb(56, 0, 60);
box-shadow: 0px 0px 10px 1.5px rgb(67, 5, 73);
margin:0rem 1rem;
background-image: url('../media/kisspng-logo-advertising-information-icon-twitter-transparent-png-5a7592dd969d34.5292093115176547496169.png');
background-position: center;
background-size: contain;
background-repeat: no-repeat;
/* You must set a specified height*/
max-width: 100%;
object-fit: contain;
padding: 0px 0px;
top: 0;
bottom: 0;
right: 0;
left: 0;

}
.signup-set{
    color:#f3f3f3;
    margin-top: 4rem;
    margin-bottom: 1rem;
}
.logos{
    width:100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.signin-image{
    width:5rem;
}
.h4{
    margin-bottom: 3rem;
    text-align: left;
}
img{
    max-width: 100%;
}
.signin-p{
    margin-top: 5rem;
}